/* .linkMy {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 800;
  color: #2a363b;
  font-size: 20px;
} */

/* .active-link{
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 800;
  color: #2a363b;
  font-size: 20px;
  color: red;
} */
